@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@400;600;700&family=Share+Tech+Mono&display=swap');


:root {
    --background: #f77627;
    --primary: #f77627;
    --secondary: #000000;
    --tertiary: #767676;
    --white: #FFFFFF;
    --title: #102032;
    --text: #97A3B0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--background);
    font-family: Releway, sans-serif;
}

header {
    margin: 0 auto;
    margin-top: 30px;
}

header nav .container h3 {
    font-size: 40px;
}

header nav .container a {
    color: var(--white) !important;
    text-decoration: none;
    font-family: Share Tech Mono;
}

#nav-principal ul li a {
    font-size: 18px;
}

div#lado1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
}

div#lado1 h3 {
    color: var(--white);
}

div#lado1 p {
    color: var(--white);
    text-align: center;
}

div#img_botoes {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

div#lado1 img {
    width: 200px;
}

div#lado2 {
    display: flex;
    justify-content: center;
    margin-right: -100px;
}

div#lado2 img {
    width: 520px;
}

section#sobre{
    background-color: var(--secondary);
    display: flex;
}

section#sobre h1{
    padding: 50px;
    color: var(--white);
    text-align: center;
}

p#subtitulo_sobre{
    color: var(--white);
    text-align: center;
    padding: 0 100px 40px 100px;
    font-size: 18px;
}

.box-vantagem {
    padding: 15px;
    background-color: var(--background);
    border-radius: 45px;
    margin-bottom: -25px;
    box-shadow: 5px 2px 10px rgb(36 36 36);
}

.box-vantagem p{
    color: var(--white);
    text-align: center;
    font-size: 25px;
}

section#sobre img {
    width: 300px;
}

section#sobre{
    height: 580px;
}

section#contato{
    height: 800px;
    padding: 220px 0px 220px 0px;
    color: white;
}

form.form_contato {
    width: 100%;
    align-self: center;
}

div#div_form_contato {
    border-left: 1px solid #fff;
}

div#div_form_contato .form-group textarea {
    height: 100px;
}

footer{
    background-color: var(--secondary);
    height: 100px;
}

footer p {
    color: #fff;
    width: 100%;
    text-align: center;
    align-self: center;
}


/*responsividade---------------------*/

@media (max-width: 767px) {

    div#lado2 {
        margin-right: 0px;
        margin-top: 50px;
    }

    div#lado1 {
        padding-top: 75px;
    }

    .box-vantagem {
        padding: 0 40px 0 40px;
    }

    
}

@media (max-width: 1006px) {

    .box-vantagem {
        margin-bottom: 20px;
    }
    
    section#sobre{
        height: 100%;
    }

    section#contato{
        height: 100%;
    }

    div#div_form_contato {
        border-left: none;
    }

    
}

@media (min-width: 1850px) {

    #div_sobre {
        padding: 0 100px 0 100px;
    }


    
}